<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Books</title>
</head>
<body>
<h1>Dogs</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Status</th>
    </tr>
    <tr th:each="dog : ${dogs}">
        <td><a th:href="'/dog/' + ${dog.id}" th:text="${dog.name}"></a></td>
        <td th:text="${dog.age}"></td>
        <td th:text="${dog.status}"></td>
    </tr>
</table>

<div>
        <span th:if="${showPrev}">
            <a th:href="'/?page=' + ${currentPage-1}" th:text="Previous"></a>
        </span>

    <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/?page=' + ${page}" th:text="${page}"></a>
        </span>

    <span th:if="${showNext}">
            <a th:href="'/?page=' + ${currentPage+1}" th:text="Next"></a>
        </span>
</div>

</body>
</html>