<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Happy Dogs</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="happy.png">
</head>
<body>

<div class="header">
    <div class="company">
    <h1><img src="happy.png" width="100px" height="100px">Happy Dogs</h1>
    </div>

    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dogs">Dogs</a></li>
            <li><a href="#vets">Vets</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>

<br>

<div>
    <img class="cover" src="coverpage.webp">
</div>

</body>
</html>