<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  ...
</head>
<body>
...
<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody th:each="dog: ${dogs}">
    <td th:text="${dog.name}"></td>
    <td th:text="${dog.age}"></td>
    <td th:text="${dog.}"></td>
    <td th:text="${dog.}"></td>
    <td th:text="${dog.}"></td>
    <td th:text="${dog.}"></td>

    </tbody>
</table>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Static header</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="hero-unit">
    <h1>Test</h1>
    <p>
      Welcome to the Spring MVC Quickstart application!
      Get started quickly by signing up.
    </p>
    <p>
      <a href="/signup" th:href="@{/signup}" class="btn btn-large btn-success">Sign up</a>
    </p>
  </div>

</div>
...
</body>
</html>